<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localux
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Localux</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../assets/logo.jpg"></ion-img>

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="pageReservation()">
        <ion-icon name="car-sport-outline"></ion-icon>
        Réservation
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
